[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "public"]
	path = public
	url = https://github.com/yongfrank/yongfrank.github.io
	branch = main
